/* AGENT_SHEET */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#contentAreaContextMenu {
	-moz-appearance: none !important;
	max-width: 200px !important;
	border: 3px solid transparent !important;
	border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAACSSURBVHjaYvz//z/D9+8/BD5/+SL848dPLg4O9m+8PDxvOTk5PrCAJJ48fa769PkL6a9fvnJz83B/lZaUeCojLXmbBaQDJHHj5h3VV6/fCIuJirxlAAJ+ft53TCCjQDpAEnWVheUgGsQHiTOB7AAZBdLR1N7fCaJBfJA4C8hykB0go2SlJZ/B7ASJM+JzLUCAAQAeNV1fAE5RkQAAAABJRU5ErkJggg==") 3 3 3 3 / 3px 3px 3px 3px stretch stretch !important;
}

#contentAreaContextMenu > menuitem,
#contentAreaContextMenu > menu,
#contentAreaContextMenu > menuseparator,
#contentAreaContextMenu > menugroup {
	display: none;
}

#context-openlinkintab,
#context-copylink,
#context-viewimage,
#context-copyimage-contents,
#context-saveimage,
#context-savevideo,
#context-savepage,
#context-saveaudio,
#context-cut,
#context-copy,
#context-paste,
#context-searchselect {
	display: initial !important;
}
#contentAreaContextMenu > menuitem[disabled="true"],
#contentAreaContextMenu > menu[disabled="true"],
#contentAreaContextMenu > menuitem[hidden="true"],
#contentAreaContextMenu > menu[hidden="true"] {
	display: none !important;
}

#contentAreaContextMenu > menu,
#contentAreaContextMenu > menuitem {
	height: 21px !important;
	-moz-appearance: none !important;
	background: #F8F8F8 !important;
}
#contentAreaContextMenu > menu:hover,
#contentAreaContextMenu > menuitem:hover {
	background: #17CB79 !important;
}

#contentAreaContextMenu .menu-iconic-left,
#contentAreaContextMenu .menu-right,
#contentAreaContextMenu .menu-accel-container {
	display: none !important;
}
#contentAreaContextMenu .menu-text {
	-moz-appearance: none !important;
	padding: 0 23px !important;
	color: #171F2F !important;
	font: 12px "Roboto" !important;
	text-align: center !important;
}