scrollbar {
     position: relative !important;
     background: transparent !important;
     -moz-appearance: none !important;
     z-index: 99999 !important;
     transition: padding 150ms linear 200ms, background 300ms ease-in-out 500ms !important;}

scrollbar[orient="vertical"] {
     padding: 0px 4px 0px 2px !important;
     margin-left: -14px !important;
     background-position: 50% !important;
     background-size: 0px 25% !important;}
scrollbar[orient="vertical"]:hover {
     padding: 0px 4px 0px 5px !important;
     margin-left: -17px !important;
     background: -moz-linear-gradient(transparent, rgba(32,32,32,0.8) 20%, rgba(32,32,32,0.8) 80%, transparent) !important;
     background-size: 1px 100% !important;
     background-repeat: no-repeat !important;}

scrollbar[orient="horizontal"] {
     padding: 5px 0px 4px 0px !important;
     margin-top: -17px !important;}
scrollbar[orient="horizontal"]:hover {
     padding: 5px 0px 4px 0px !important;
     margin-top: -17px !important;
     background: -moz-linear-gradient(right, transparent, rgba(32,32,32,0.8) 20%, rgba(32,32,32,0.8) 80%, transparent) !important;
     background-size: 100% 1px !important;
     background-repeat: no-repeat !important;}


scrollbar scrollbarbutton {
     background: none !important;
     border: none !important;
     -moz-appearance: none !important;
     background-repeat: no-repeat !important;}

scrollbar[orient="vertical"] scrollbarbutton[type="increment"] {
     background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURSAgIAAAAMM4PMMAAAACdFJOU/8A5bcwSgAAAChJREFUeNpiYIQDBmQmA5wBBGAWiAazwQyIAJgLk4SaAFWO1VyAAAMAEDMAS9uPDcAAAAAASUVORK5CYII=") !important;}
scrollbar[orient="vertical"] scrollbarbutton[type="decrement"] {
     background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURSAgIAAAAMM4PMMAAAACdFJOU/8A5bcwSgAAACxJREFUeNpiYIQDBjQmAwOMycAAZjNAWCA2AyOEYmCASUJoBph+BqzmAgQYABB1AEtoTOXlAAAAAElFTkSuQmCC") !important;}

scrollbar[orient="horizontal"] scrollbarbutton[type="increment"] {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURSAgIAAAAMM4PMMAAAACdFJOU/8A5bcwSgAAACtJREFUeNpiYGRkZGAEAyDFwMAAY8LYEALMhsqB2OhMhAKENhTDIFYABBgAEFEASxlIS7wAAAAASUVORK5CYII=") !important;}
scrollbar[orient="horizontal"] scrollbarbutton[type="decrement"] {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAL3RFWHRDcmVhdGlvbiBUaW1lAG1pw6kuIDEyIGRpYy4gMjAxMiAxNjoxNjozOSAtMDYwMCSqs2YAAAAHdElNRQfdBBAJORNCBqPlAAAACXBIWXMAAAsSAAALEgHS3X78AAAABGdBTUEAALGPC/xhBQAAAHFJREFUeNpjZICC9Qf+g+nvUP7k/uL/uYW9jFEOjGA+EwMSQFaETGMo5ESTBJkIY7MgK+xCUlRWjVCEYiKyIiBAUYRhIgw0VPdiiCFMRLKqoRXFdEzPdLXiVgyXOHwFIV5WjVB0fGMfI4aJ6M5oQHIOALOlLJcn+jqCAAAAAElFTkSuQmCC") !important;}
